@keyframes buttonAnimation {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0px 0px 13px rgba(var(--greenSpotify), 0.9);
    }
}

@keyframes productCartApparition {
    from {
        opacity: 0;
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.05);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes categoryPictureHover {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.05);
    }
}
