#cartContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top:2%;*/
    /*border: solid 1px pink;*/
}

#cartTitles {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.articleInCart {
    width: 90%;
    margin-top: 2%;
    display: flex;
    font-size: 0.8em;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
    /*border: 1px solid black;*/
}

.articleInCart:not(:last-of-type) {
    border-bottom: solid 1px #eeeeee;
}

.articleInCart:last-of-type {
    margin-bottom: 2%;
}

.productPictureCartLink {
    width: 20%;
}

.productPictureCart {
    width: 100%;
    height: auto;
    /*border:1px solid red;*/
}

.productTitleCart {
    /*text-align: center;*/
    width: 20%;
    /*border:1px solid red;*/
}

.productPriceCart {
    text-align: center;
    width: 20%;
}

.productQuantityCart {
    text-align: center;
    /*border:1px solid blue;*/
    width: 20%;
}

.removeButtonCart {
    color: black;
}

.removeButtonCart:hover {
    cursor: pointer;
    color: rgb(var(--greenSpotify));
}

.displayTotal {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /*border:1px solid red;*/
}

.displayTotal h2:first-of-type {
    margin-right: 5%;
}

#emptyCart {
    width: 100%;
    text-align: center;
}

#mainContainerProductDetail {
    flex-grow: 1;
}

#stickyButton:hover {
    cursor: pointer;
}

@media screen and (min-width: 1201px) {
    #stickyButton {
        position: fixed;
        bottom: 3%;
        right: 3%;
        z-index: 9999;
        padding: 15px 15px 15px 15px;
        border-radius: 40px;
        border: none;
        background: rgb(var(--greenSpotify));
        color: white;
        animation: buttonAnimation .5s infinite alternate;
    }
}

@media screen and (max-width: 1200px) and (min-width: 896px) {
    #stickyButton {
        position: fixed;
        bottom: 3%;
        right: 3%;
        z-index: 9999;
        padding: 15px 15px 15px 15px;
        border-radius: 40px;
        border: none;
        background: rgb(var(--greenSpotify));
        color: white;
        animation: buttonAnimation .5s infinite alternate;
    }
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    #stickyButton {
        position: fixed;
        bottom: 3%;
        right: 3%;
        z-index: 9999;
        padding: 15px 15px 15px 15px;
        border-radius: 40px;
        border: none;
        background: black;
        color: white;
        animation: buttonAnimation .5s infinite alternate;
    }
}

@media screen and (max-width: 480px) {
    #stickyButton {
        position: fixed;
        bottom: 3%;
        right: 3%;
        z-index: 9999;
        padding: 15px 15px 15px 15px;
        border-radius: 40px;
        border: none;
        background: black;
        color: white;
        animation: buttonAnimation .5s infinite alternate;
    }
}

