.categoryTitle {
    display: none;
    position: absolute;
    font-size: 2vw;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(var(--greenSpotify), 0.9);
    padding: 5px 10px 5px 10px;
    -webkit-transition: display .3s;
    transition: display .3s;
}

.categoryPicture {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: filter .3s;
    transition: filter .3s, transform .3s;
    z-index: 0;
    width: 100%;
    height: auto;
    vertical-align: top;
}

.categoryPanel:hover .categoryTitle {
    display: inline-block;
}

.categoryPanel:hover .categoryPicture {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.05);
}

.figureCategory {
    /*border: 1px solid orange;*/
    position: relative;
}


#mainContainerHomePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 1201px) {
    .categoryPanel {
        overflow: hidden;
        color: black;
        /*border:solid 1px blue;*/
        width: 50%;
        /*height:100px;*/
        /*margin-top:2%;*/
    }
}

@media screen and (max-width: 1200px) and (min-width: 896px) {
    .categoryPanel {
        overflow: hidden;
        color: black;
        /*border:solid 1px blue;*/
        width: 50%;
        /*height:100px;*/
        /*margin-top:2%;*/
    }
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    .categoryPanel {
        overflow: hidden;
        color: black;
        /*border:solid 1px blue;*/
        width: 100%;
        /*height:100px;*/
        /*margin-top:2%;*/
    }

    .categoryTitle {
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .categoryPanel {
        overflow: hidden;
        color: black;
        /*border:solid 1px blue;*/
        width: 100%;
        /*height:100px;*/
        /*margin-top:2%;*/
    }

    .categoryTitle {
        display: inline-block;
    }
}
