footer a {
    color: black;
    transition: color .3s;
    text-decoration: none;
}

footer h3 {
    margin-bottom: 5%;
}

footer a:hover {
    color: white;
}

@media screen and (min-width: 1201px) {
    footer {
        background-color: rgb(var(--greenSpotify));
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
        align-items: center;
        margin-top: 3%;
        z-index: 1;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 896px) {
    footer {
        background-color: rgb(var(--greenSpotify));
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
        align-items: center;
        margin-top: 3%;
        z-index: 1;
        width: 100%;
    }
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    footer {
        background-color: rgb(var(--greenSpotify));
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
        align-items: center;
        margin-top: 3%;
        z-index: 1;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    footer {
        background-color: rgb(var(--greenSpotify));
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 10%;
        padding-bottom: 10%;
        align-items: center;
        margin-top: 3%;
        z-index: 1;
        width: 100%;
    }

    #authors, #authorsContact {
        /*border:solid 1px black;*/
        margin-bottom: 5%;
        text-align: center;
    }

    #git {
        text-align: center;
    }

}
