/* ------------------------------------ HEADER ------------------------------------ */
header {
    background-color: rgb(var(--greenSpotify));
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}

#websiteName {
    font-weight: 700;
    font-size: 3vw;
    align-self: stretch;
    display: flex;
    align-items: stretch;
}

#websiteName a {
    color: black;
    text-decoration: none;
    width: 100%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    transition: color 0.2s;
}

#websiteName a span {
    margin: auto;
}

#websiteName a:hover {
    color: white;
    cursor: pointer;
}

#linkContainer {
    align-self: stretch;
    display: flex;
    /*margin-right: 5%;*/
    justify-content: center;
    align-items: stretch;
}

.headerLink {
    /*border: 1px solid black;*/
    color: black;
    text-decoration: none;
    /*font-size: 1.5vw;*/
    font-weight: 700;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    transition: color 0.2s;
}

.headerLink i {
    /*border: 1px solid red;*/
}

.headerLink span {
    /*margin: auto;*/
}

.headerLink:visited {
    color: black;
}

.headerLink:active {
    color: black;
}

.headerLink:hover {
    color: white;
    cursor: pointer;
    /*text-decoration: underline;*/
}

@media screen and (min-width: 1201px) {
    #websiteName {
        font-size: 3vw;
    }

    .headerLink {
        font-size: 1.5vw;
    }

    .headerLink i {
        width: 30%;
    }

    #linkContainer {
        width: 40%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 896px) {
    #websiteName {
        font-size: 3vw;
    }

    .headerLink {
        font-size: 1.5vw;
    }

    .headerLink i {
        width: 30%;
    }

    #linkContainer {
        width: 40%;
    }
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    .headerLink {
        font-size: 2vw;
    }

    #websiteName {
        font-size: 4vw;
    }

    .headerLink i {
        width: 30%;
    }

    #linkContainer {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .headerLink {
        /*border: 1px solid black;*/
        font-size: 10px;
    }

    #websiteName {
        font-size: 14px;
    }

    .headerLink i {
        width: 30%;
        font-size: 20px;
    }

    #linkContainer {
        width: 70%;
    }
}


