#randomProducts {
    margin-top: 2%;
}

#randomProducts h1 {
    margin-left: 2%;
    margin-bottom: 2%;
}

@media screen and (min-width: 1201px) {

}

@media screen and (max-width: 1200px) and (min-width: 896px) {

}

@media screen and (max-width: 895px) and (min-width: 481px) {

}

@media screen and (max-width: 480px) {
    #randomProducts #products {
        flex-direction: row;
    }

    #randomProducts .productCard {
        width: 90%;
        align-self: center;
        margin-bottom: 5%;
    }

    #randomProducts .fastAddToCartButton {
        width: 40%;
    }
}


