#mainContainerOrderValidation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#orderConfirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#orderConfirmation p {
    text-align: center;
    /*border:solid 1px black;*/
}

.backToIndex {
    margin-top: 2%;
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(var(--greenSpotify));
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    /*border: 1px solid blue;*/
}

.backToIndex:hover {
    cursor: pointer;
    animation: buttonAnimation .3s forwards alternate;
}
