#mainContainerPayment {
    width: 80%;
    margin: auto;
    flex-grow: 1;
}

#formPayment {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#submitButtonPayment {
    width: 30%;
}

#deliveryAddress {
    width: 100%;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
}

#paymentSelection {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#firstNameAndName {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    /*border:1px solid yellow;*/
    /*justify-content: space-between;*/
}

#contactInformation {
    /*margin-top: 1%;*/
    display: flex;
    flex-direction: row;
    /*border:1px solid pink;*/
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.labelInputPayment {
    /*border:1px solid orange;*/
    width: 50%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.labelInputPayment label {
    margin-right: 2%;
    width: 20%;
    text-align: right;
    /*border:solid 1px red;*/
}

.logoRadio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoRadio:hover {
    cursor: pointer;
}

#paypalLogo {
    width: 50px;
    margin-right: 50%;
}

#creditCardLogo {
    width: 50px;
    margin-right: 50%;
}

#paymentModes {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 2%;
}

#paypal, #creditCard {
    outline: none;
}

#paypal:hover, #creditCard:hover {
    cursor: pointer;
}

.inputText {
    border: none;
    border-bottom: solid 1px black;
    transition: border-bottom .3s;
    outline: none;
}

.inputText:hover {
    border-bottom: 1px solid rgb(var(--greenSpotify));
}

.inputText:focus {
    border-bottom: 1px solid rgb(var(--greenSpotify));
}

#creditCardChosen {
    display: none;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 30%;
    align-self: center;
    margin-bottom: 2%;
}

#paypalChosen {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

#mainContainerOrderValidation {
    flex-grow: 1;
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    #firstNameAndName {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*border:1px solid yellow;*/
        /*justify-content: space-between;*/
    }

    #contactInformation {
        /*margin-top: 1%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        /*border:1px solid pink;*/
        flex-wrap: wrap;
        /*justify-content: space-between;*/
    }

    .labelInputPayment label {
        margin-right: 2%;
        width: 100%;
        text-align: right;
        /*border:solid 1px red;*/
    }

    #submitButtonPayment {
        font-size: 0.6em;
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    #firstNameAndName {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*border:1px solid yellow;*/
        /*justify-content: space-between;*/
    }

    #contactInformation {
        /*margin-top: 1%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        /*border:1px solid pink;*/
        flex-wrap: wrap;
        /*justify-content: space-between;*/
    }

    .labelInputPayment label {
        margin-right: 2%;
        width: 100%;
        text-align: right;
        /*border:solid 1px red;*/
    }

    #submitButtonPayment {
        font-size: 0.6em;
        width: 40%;
    }
}


