#mainContainerProductDetail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*padding-top: 1%;*/
    /*border: 1px solid black;*/
}

#pictureAndMainDatas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: red 1px solid;*/
}

#productPicture {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

#productRate {
    display: flex;
    /*border:1px solid black;*/
    align-items: center;
}

#avgReviewValue {
    font-weight: 600;
}

#productName {
    font-weight: 700;
    font-size: 3.5vw;
    height: 60%;
    /*border:1px solid orange;*/
}

#productPrice {
    font-weight: 600;
    font-size: 2.5vw;
    /*border: 1px solid black;*/
}

#productDesc {
    margin-top: 2%;
    margin-bottom: 3%;
}

#mainProductDatas {
    /*border:1px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#secondaryProductDatas {
    width: 98%;
    margin: auto;
}

#buyingPart {
    /*border: solid 1px pink;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addToCartButton {
    background-color: rgb(var(--greenSpotify));
    border: none;
    width: 40%;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    margin-right: 5%;
    text-decoration: none;
}

.addToCartButton > .material-icons {
    /*color:blue;*/
    vertical-align: center;
}

.addToCartButton:hover {
    cursor: pointer;
    /*background-color: white;*/
    /*color: rgb(var(--greenSpotify));*/
    /*outline: 1px solid rgb(var(--greenSpotify));*/
    /*box-shadow:2px 2px 10px rgba(0,0,0,0.5);*/
    animation: buttonAnimation 0.3s forwards alternate;
}

.material-icons-round {
    font-size: 3vw;
}

.addToCartButton .material-icons-round {
    font-size: 24px;
}

#reviews {
    display: flex;
    flex-direction: column;
}

.review {
    margin-top: 2%;
    padding-bottom: 2%;
    /*width:98%;*/
}

.review:not(:last-of-type) {
    border-bottom: solid 1px #eeeeee;
}

.customerName {
    display: flex;
    align-items: center;
    flex-direction: row;
    /*border:1px solid green;*/
    width: 80%;
    font-weight: 600;
    font-size: 2vw;
    /*margin-bottom: 1%;*/
}

.customerName i {
    margin-right: 2%;
}

.nameAndRate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid blue;*/
    margin-bottom: 1%;
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    .addToCartButton {
        background-color: rgb(var(--greenSpotify));
        border: none;
        width: 60%;
        font-size: 0.7em;
        font-weight: 600;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        padding: 5px 0 5px 0;
        margin-right: 5%;
        text-decoration: none;
    }
}

@media screen and (max-width: 480px) {

    .addToCartButton {
        background-color: rgb(var(--greenSpotify));
        border: none;
        width: 60%;
        font-size: 0.5em;
        font-weight: 600;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        padding: 5px 0 5px 0;
        margin-right: 5%;
        text-decoration: none;
    }
}


