.productPicture {
    /*border: 1px solid black;*/
    /*height:75%;*/
    width: 100%;
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
    border-bottom: solid 1px #eeeeee;
}

.productLink {
    display: flex;
    color: black;
    /*border:solid 1px blue;*/
    /*width:250px;*/
    text-decoration: none;
    /*border-radius: 5px;*/
    /*margin-right: 1%;*/
    flex-direction: column;
}

.productName {
    color: black;
    text-decoration: none;
    font-weight: 600;
    /*border:1px solid orange;*/
    width: 96%;
    /*overflow:hidden;*/
    /*height:50%;*/
}

.productPrice {
    /*height:50%;*/
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.priceAndButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    /*border: solid 1px green;*/
}

.fastAddToCartButton {
    background-color: rgb(var(--greenSpotify));
    border: none;
    width: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    text-decoration: none;
}

.fastAddToCartButton > .material-icons {
    /*color:blue;*/
    vertical-align: center;
}

.fastAddToCartButton:hover {
    cursor: pointer;
    /*background-color: white;*/
    /*color: rgb(var(--greenSpotify));*/
    /*outline: 1px solid rgb(var(--greenSpotify));*/
    /*box-shadow:2px 2px 10px rgba(0,0,0,0.5);*/
    animation: buttonAnimation 0.3s forwards alternate;

}

.fastAddToCartButton:focus {
    outline: none;
}

@media screen and (min-width: 1201px) {
    .productCard {
        transform: scale(1.0);
        display: flex;
        color: black;
        opacity: 0;
        /*border:solid 1px blue;*/
        width: 23%;
        /*width:250px;*/
        text-decoration: none;
        margin-bottom: 2%;
        /*border-radius: 5px;*/
        /*margin-right: 1%;*/
        flex-direction: column;
        justify-content: space-between;
        animation: productCartApparition 1s forwards;
        transition: transform .3s;
    }
}

@media screen and (max-width: 1200px) and (min-width: 896px) {
    .productCard {
        transform: scale(1.0);
        display: flex;
        color: black;
        opacity: 0;
        /*border:solid 1px blue;*/
        width: 23%;
        /*width:250px;*/
        text-decoration: none;
        margin-bottom: 2%;
        /*border-radius: 5px;*/
        /*margin-right: 1%;*/
        flex-direction: column;
        justify-content: space-between;
        animation: productCartApparition 1s forwards;
        transition: transform .3s;
    }
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    .productCard {
        transform: scale(1.0);
        display: flex;
        color: black;
        opacity: 0;
        /*border:solid 1px blue;*/
        width: 30%;
        /*width:250px;*/
        text-decoration: none;
        margin-bottom: 2%;
        /*border-radius: 5px;*/
        /*margin-right: 1%;*/
        flex-direction: column;
        justify-content: space-between;
        animation: productCartApparition 1s forwards;
        transition: transform .3s;
    }
}

@media screen and (max-width: 480px) {
    .productCard {
        transform: scale(1.0);
        display: flex;
        color: black;
        opacity: 0;
        /*border:solid 1px blue;*/
        width: 45%;
        /*width:250px;*/
        text-decoration: none;
        margin-bottom: 2%;
        /*border-radius: 5px;*/
        /*margin-right: 1%;*/
        flex-direction: column;
        justify-content: space-between;
        animation: productCartApparition 1s forwards;
        transition: transform .3s;
    }
}
