#filtersAndSorts h1 {
    margin-bottom: 5%;
    font-weight: 600;
}

#filters {
    display: flex;
    flex-direction: column;
}

#sorts {
    display: flex;
    flex-direction: column;
}

#mainContainerProducts {
    margin-top: 1%;
    flex-grow: 1;
}

.filling-empty-spaces-left {
    width: 23%;
}


.labelInputFiltersAndSorts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.labelInputFiltersAndSorts:not(:last-of-type) {
    margin-bottom: 3%;
}

.labelInputFiltersAndSorts input {
    align-self: center;
}

.labelInputFiltersAndSorts input:hover {
    cursor: pointer;
}

#applyFilter {
    margin-top: 10%;
    align-self: center;
}

#formFilters {
    display: flex;
    flex-direction: column;
}

#separator {
    margin-top: 10%;
    margin-bottom: 10%;
}

#formSearch {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchInputButton {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    /*border: 1px solid blue;*/
    /*justify-content: space-between;*/
}

#formSearch .material-icons-round {
    font-size: 1.5em;
}

#formSearch h1 {
    margin-bottom: 5%;
    font-weight: 600;
}

#formSearch button {
    background: white;
    border: none;
    outline: none;
}

#formSearch input {
    border: none;
    outline: none;
    border-bottom: solid 1px black;
    width: 80%;
}

#formSearch input:hover {
    border-bottom: solid 1px rgb(var(--greenSpotify));
}

#formSearch input:focus {
    border-bottom: solid 1px rgb(var(--greenSpotify));
}

#formSearch button:hover {
    cursor: pointer;
    color: rgb(var(--greenSpotify));
}

@media screen and (min-width: 1201px) {
    #filtersAndSorts {
        display: flex;
        flex-direction: column;
        width: 20%;
        padding-left: 1%;
        float: left;
        height: 90vh;
    }

    #mainContainerProducts #stickyButton {
        display: none;
    }
}

@media screen and (max-width: 1200px) and (min-width: 896px) {
    #filtersAndSorts {
        display: flex;
        flex-direction: column;
        width: 20%;
        padding-left: 1%;
        float: left;
        height: 90vh;
    }

    #mainContainerProducts #stickyButton {
        display: none;
    }
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    #filtersAndSorts {
        display: none;
        position: fixed;
        background: white;
        flex-direction: column;
        width: 40%;
        padding-left: 1%;
        float: left;
        height: 100vh;
        z-index: 1;
    }

    .filling-empty-spaces-left {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    #filtersAndSorts {
        display: none;
        position: fixed;
        background: white;
        flex-direction: column;
        width: 40%;
        padding-left: 1%;
        float: left;
        height: 100vh;
        z-index: 1;
    }

    .filling-empty-spaces-left {
        width: 45%;
    }
}

