#mainContainerProfile {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.option {
    padding: 5% 0 5% 5%;
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    transition: color 0.3s;
}

.option:not(:last-of-type) {
    border-bottom: solid 1px #eeeeee;
}

.option .material-icons-round {
    font-size: large;
    margin-right: 2%;
}

.option:hover {
    cursor: pointer;
    color: rgb(var(--greenSpotify));
}

#submit {
    align-self: center;
}

#profileContainer .labelInput {
    width: fit-content;
    /*margin:0;*/
    margin: 5% 0 0 0;
}

#profileContainer .labelInput input {
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    transition: border-bottom .3s;
}

#profileContainer .labelInput input:focus {
    border-bottom: solid 1px rgb(var(--greenSpotify));
}

#profileContainer .labelInput input:hover {
    border-bottom: solid 1px rgb(var(--greenSpotify));
}

#inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: 5%;
}

#ordersContainer {
    display: none;
    width: 80%;
    /*margin-left: 20%;*/
    flex-direction: column;
    align-items: center;
}

.orderDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    transition: color .3s;
}

.orderDetails:hover {
    cursor: pointer;
    color: rgb(var(--greenSpotify));
}

.orderDetails:not(:last-of-type) {
    border-bottom: solid 1px #eeeeee;
}

.headerAndValues {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerAndValues i {
    transition: transform .3s;
}

.headerAndValues p:first-child {
    font-weight: 600;
}

.orderProducts {
    /*display:none;*/
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    transition: all .3s;
}

.active {
    color: rgb(var(--greenSpotify));
}

.productDetails {
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    justify-content: center;
    /*border:solid 1px green;*/
}

.productDetails:not(:last-of-type) {
    border-bottom: solid 1px #eeeeee;
}

.filling {
    width: 15%;
}

#ordersContainer .productPriceCart, #ordersContainer .productTitleCart {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ordersContainer.productPictureCartLink {
    width: 25%;
}

#ordersContainer .commentLink {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentLink a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1201px) {
    #profileContainer {
        display: flex;
        flex-direction: row;
        /*margin-left: 20%;*/
        width: 80%;
        /*border: 1px solid red;*/
        align-items: center;
        /*justify-content: center;*/
    }

    #mainContainerProfile #stickyButton {
        display: none;
    }

    #optionsMenu {
        display: flex;
        flex-direction: column;
        /*position: fixed;*/
        align-items: center;
        width: 20%;
    }

    #profileContainer form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /*border: 1px solid black;*/
        width: 100%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 896px) {
    #profileContainer {
        display: flex;
        flex-direction: row;
        /*margin-left: 20%;*/
        width: 80%;
        /*border: 1px solid red;*/
        align-items: center;
        /*justify-content: center;*/
    }

    #mainContainerProfile #stickyButton {
        display: none;
    }

    #optionsMenu {
        display: flex;
        flex-direction: column;
        /*position: fixed;*/
        align-items: center;
        width: 20%;
        /*border:solid 1px black;*/
        /*border-right: solid 1px #eeeeee;*/
        /*border-top: solid 1px #eeeeee;*/
    }

    #profileContainer form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /*border: 1px solid black;*/
        width: 100%;
    }
}

@media screen and (max-width: 895px) and (min-width: 481px) {

    #profileContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        /*border: 1px solid red;*/
        align-items: center;
    }

    #optionsMenu {
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        width: 35%;
        height: 100vh;
        border-right: solid 1px #eeeeee;
        border-top: solid 1px #eeeeee;
        background-color: white;
    }

    #ordersContainer {
        width: 100%;
        margin-left: 0;
    }

    #profileContainer .labelInput {
        width: 100%;
    }

    #inputs {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    #profileContainer form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #ordersContainer .commentLink {
        /*width: 5%;*/
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        /*border:1px solid red;*/
    }
}

@media screen and (max-width: 480px) {

    #profileContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        /*border: 1px solid red;*/
        align-items: center;
    }

    #optionsMenu {
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        width: 35%;
        height: 100vh;
        border-right: solid 1px #eeeeee;
        border-top: solid 1px #eeeeee;
        background-color: white;
    }

    #ordersContainer {
        width: 100%;
        margin-left: 0;
    }

    #profileContainer .labelInput {
        width: 100%;
        /*border: 1px solid blue;*/
    }

    #inputs {
        flex-direction: column;
        /*width:100%;*/
        /*border: 1px solid blue;*/
        /*height:fit-content;*/
    }

    #profileContainer form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        /*border: 1px solid black;*/
        width: 100%;
    }

    #ordersContainer .commentLink {
        /*width: 5%;*/
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        /*border:1px solid red;*/
    }

    #identifiers, #miscData {
        margin-bottom: 10%;
    }

}


