/* ------------------------------------ MAIN CONTAINER ------------------------------------ */
#pageTitle {
    margin: 2% 0 2% 0;
    width: 100%;
    text-align: center;
}

fieldset {
    border: solid 1px rgb(var(--greenSpotify));
    /*border:none;*/
    /*box-shadow:2px 2px 10px rgba(0,0,0,0.5);*/
    border-radius: 10px;
    width: 40%;
}

fieldset legend {
    margin-left: 5%;
    font-weight: 600;
    background-color: white;
}

.labelInput {
    margin-left: 5%;
    margin-bottom: 5%;
}

#registerForm {
    display: flex;
    flex-direction: column;
}

#fields {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid blue;*/
}

#validation {
    display: flex;
    justify-content: center;
    /*border:solid 1px green;*/
}

#registerForm .labelInput input {
    border: none;
    border-bottom: solid 1px black;
}

#registerForm input:focus {
    border-bottom: solid 1px rgb(var(--greenSpotify));
    outline: none;
}

@media screen and (min-width: 1201px) {
    #fields {
        display: flex;
        justify-content: space-around;
        /*border: 1px solid blue;*/
    }
}

@media screen and (max-width: 1200px) and (min-width: 896px) {
    #fields {
        display: flex;
        justify-content: space-around;
        /*border: 1px solid blue;*/
    }
}

@media screen and (max-width: 895px) and (min-width: 481px) {
    #fields {
        display: flex;
        justify-content: space-around;
        /*border: 1px solid blue;*/
    }
}

@media screen and (max-width: 480px) {
    #fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /*border: 1px solid blue;*/
    }

    #fields fieldset {
        width: 90%;
        margin-bottom: 5%;
    }
}









