#mainContainerReview form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContainerReview .labelInput {
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 0;
}

#reviewValue {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    transition: border-bottom 0.3s;
}

#reviewValue:focus {
    border-bottom: 1px solid rgb(var(--greenSpotify));
}

#reviewValue:hover {
    border-bottom: 1px solid rgb(var(--greenSpotify));
}

#mainContainerReview textarea {
    outline: none;
    width: 100%;
    height: 20vh;
}

#comment {
    width: 30%;
}

#mainContainerReview {
    flex-grow: 1;
}



