:root {
    --greenSpotify: 29, 185, 84;
    --success-color: #00e676;
    --error-color: #ff3d00;
}

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    /*font-size:1em;*/
}

