/* ------------------------------------ MAIN CONTAINER ------------------------------------ */
#pageTitle {
    margin: 2% 0 2% 0;
    width: 100%;
    text-align: center;
}

#mainContainerSignIn .labelInput {
    margin-left: 0%;
    margin-bottom: 2%;
}

#signInForm {
    /*border: solid 1px black;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

#signInForm .labelInput input {
    border: none;
    border-bottom: solid 1px black;
    transition: border-bottom .3s;
}

#signInForm input:hover {
    border-bottom: solid 1px rgb(var(--greenSpotify));
}

#signInForm input:focus {
    border-bottom: solid 1px rgb(var(--greenSpotify));
    outline: none;
}

#registerLinkSignIn {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

#registerLinkSignIn a {
    margin-left: 3px;
    margin-right: 3px;
    color: rgb(var(--greenSpotify));
}

#mainContainerSignIn {
    flex-grow: 1;
}
