@import "root.css";

@import "animations.css";

@import "toast.css";

@import "submitButton.css";

@import "header.css";

@import "register.css";

@import "signIn.css";

@import "home.css";

@import "categoriyDiv.css";

@import "productCard.css";

@import "productsPage.css";

@import "productDetail.css";

@import "cart.css";

@import "payment.css";

@import "orderConfirmation.css";

@import "profile.css";

@import "review.css";

@import "footer.css";

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
