.submitButton {
    background-color: rgb(var(--greenSpotify));
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    border: none;
    font-weight: 700;
    color: white;
    outline: none;
}

.submitButton:hover {
    cursor: pointer;
    animation: buttonAnimation .3s forwards alternate;
}
