#toast {
    animation: fadein 2s forwards;
    min-width: 250px;
    text-align: center;
    margin-left: -125px;
    border-radius: 30px;
    padding: 16px;
    position: fixed;
    z-index: 2;
    left: 50%;
    bottom: 30px;
    color: white;
}

.success {
    background-color: var(--success-color);
}

.error {
    background-color: var(--error-color);
}

@keyframes fadein {
    from {
        /*right:0;*/
        bottom: 0;
        opacity: 0;
    }
    10% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    20% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    30% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    40% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    50% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    60% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    70% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    80% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    90% {
        animation-play-state: paused;
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
