<footer>
    <section id="authors">
        <h3>Créateurs</h3>
        <p>Théophile Hamelin</p>
        <p>Samuel Lablée</p>
    </section>

    <section id="authorsContact">
        <h3>Contacts</h3>
        <p>hamelin@et.esiea.fr</p>
        <p>lablee@et.esiea.fr</p>
    </section>

    <section id="git">
        <h3>GitLab</h3>
        <a href="https://gitlab.com/TheophileHamelin/web-programming-project">Sportify.io</a>
    </section>
</footer>
