<head>
    <meta charset="UTF-8">
    <title>Sportify.io</title>
    <link rel="shortcut icon" href="view/img/logoSportify.png">
    <!--Import Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet">
    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="view/css/style.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
