<!--Jquery-->
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<!-- Other scripts -->
<script src="view/scripts/payment.js" type="text/javascript"></script>
<script src="view/scripts/profile.js" type="text/javascript"></script>
<script src="view/scripts/productResponsive.js" type="text/javascript"></script>
